<div class='top-wrapper'>
  <div class="text-center">
   <div class="mt-5 mb-4">
    <%= image_tag 'logo_monomanebook.png', class:'logo'%>
   </div>
   <div>
      <%= link_to "はじめる", targets_path, class: "btn btn-primary" %>
   </div>
  </div>
</div>
