<div class="card shadow mr-5" style="width: 20rem;">
    <div class="card-body">
      <%= link_to target_path(target), class: 'card-text text-muted' do %>
        <h3><%= target.name %></h3>
      <% end %>
    </div>
</div>