<div class="container text-muted mt-5">
  <%= image_tag 'maneo_face.png', class:'logo d-inline-flex', size: '100x100' %>
  <h1 class="text-center d-inline-flex p-5">モノマネするお題を選択してください</h1>
  <div class="targets-wrapper">
    <div class="top-cards pt-5 pb-4">
      <!-- ターゲット一覧 -->
        <div class="row">
          <% if @targets.present? %>
            <%= render partial: 'target', collection: @targets %>
          <% else %>
            <p>お題の登録はありません。</p>
          <% end %>
        </div>
    </div>
  </div>
</div>