<div class='top-wrapper'>
  <div class='top-inner-text'>
    <h1>お題を選ぶ</h1>
      <% @targets.each do |target| %>
        <%= link_to target_path(target), class: 'btn btn-primary' do %>
          <%= target.name %>
        <% end %>
      <% end %>
  </div>
</div>
