<div class="container">
  <div class='top-wrapper mt-5'>
     <%= link_to "新しいお題を追加する", new_user_path, class: 'float-right btn btn-info' %>
    <div class='top-inner-text text-center'>
      <h1>モノマネするお題を選んでください</h1>
        <div class="dropdown">
          <a class="btn btn-primary mt-3 mb-5 dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            お題を選択
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <% @targets.each do |target| %>
                <%= link_to target_path(target), class: 'dropdown-item' do %>
                  <li><%= target.name %></li>
                <% end %>
              <% end %>
          </ul>
        </div>
    </div>
  </div>
</div>