<div class='top-wrapper'>
  <div class='top-inner-text'>
    <h1><%= @target.name %></h1>

    <%= link_to "モノマネを録音する", "#", class: "btn btn-primary" %>

    <%= link_to "再生する", "#", class: "btn btn-primary" %>

    <%= link_to "採点する", "#", class: "btn btn-primary" %>
  </div>
</div>