<footer id='footer'>
  <div class="text-white">
      <ul class="row">
        <div class="col-sm-2 p-3">
           ©︎2022 monomanew
        </div>
        <div class="col-sm-2 p-3">
          <%= link_to '利用規約', '/terms', class: "text-white"%>
        </div>
        <div class="col-sm-2 p-3">
          <%= link_to 'プライバシーポリシー', '/privacy', class: "text-white" %>
        </div>
        <div class="col-sm-2 p-3">
          <%= link_to 'お問い合わせ', '/info', class: "text-white" %>
        </div>
      </ul>
  </div>
</footer>
