<% set_meta_tags title: t('.title') %>
<div class="container-fluid mt-5">
  <div class="text-center text-muted" >
    <h1 class="mb-1"><i class="fa-solid fa-microphone mr-2"></i><%= t('.title') %></h1>
    <h4 class="mb-1">投稿にコメントしよう!!</h4>
  </div>
  <div class="boards-wrapper text-muted">
    <div class="top-boards pt-5 pb-4">

      <!-- カード一覧 -->
        <div class="row">
          <% if @boards.present? %>
            <%= render partial: 'board', collection: @boards %>
          <% else %>
            <p>公開されているとモノマネはありません。</p>
          <% end %>
        </div>
    </div>
  </div>
</div>
