<tr id="collaboration_comment-<%= collaboration_comment.id %>">
    <td>
    <h5 class="collaboration_comment-name"><%= User.find(collaboration_comment.user_id).name %></h5>
    <p class="collaboration_comment-body"><%= collaboration_comment.body %></p>
    
    <% if logged_in? && current_user.own?(collaboration_comment) %>
        <td class="action">
            <%= link_to collaboration_collaboration_comment_path(collaboration, collaboration_comment), method: :delete, data: { confirm: "削除しますか？" }, class: 'btn btn-danger float-right' do %>
              <i class="far fa-trash-alt"></i> 
            <% end %>
        </td>
    <% end %>
</tr>