/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

//  header {
//     background-color:#006596;
// }

body {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
}

nav.navbar {
    min-height: 38px;
    background-color: #2f79bd;
    background-image: none;
  }
  
.cards-wrapper {
  min-height: 38px;
  background-color: #97BCF0;
  background-image: none;
}

footer {
  background-color: #2f79bd;
  background-image: none;
  width: 100%;
  overflow: hidden;
}

.content {
  min-height: calc(100vh - 55px);
  // background-image: image-url('monomane_man2.png');
  // background-size: cover;
  // filter: blur(6px);
}

.btn-primary {
  background: #4A6E9D;
  color: #EFF0F4;
  border-color: #4A6E9D;
  border-radius:30px;
}

.fa-hand-paper {
  color: #4A6E9D;
  font-size: 40px;
}


.btn-danger {
  color: #EFF0F4;
  background: #c53b54;
  border-color: #c53b54;
  border-radius:30px;
}

.btn-info {
  background: #00946f;
  color: #EFF0F4;
  border-color: #00946f;
  border-radius:30px;
}

.thead-primary {
  background: #4A6E9D;
  color: #EFF0F4;
  border-color: #4A6E9D;
}

.logo-top {
  width:100%;
  max-width: 1000px;
  height: auto;
  }

.logo-face {
  width:20%;
  max-width: 250px;
  height: auto;
  }

.image-logo {
  width:100%;
  max-width: 400px;
  height: auto;
  }

.target-logo {
  width:100%;
  max-width: 1200px;
  height: auto;
  }

.top-button {
  width: 7em;
  height: 4em;
  border-radius:100%;
}